# Lists 

Materials adapted from *[How to Think Like a Computer Scientist](https://runestone.academy/runestone/static/thinkcspy/index.html)* 

This colab notebook is paired with the page on Canvas: **7-Lists**

A **list** is a sequential collection of Python data values, where each value is identified by an index. The values that make up a list are called its **elements**. Lists are similar to strings, which are ordered collections of characters, except that the elements of a list can have any type and for any one list, the items can be of different types.

## List Values 

There are several ways to create a new list.  The simplest is to enclose the elements in square brackets ( ``[`` and ``]``).

```python 
[10, 20, 30, 40]
["spam", "bungee", "oreo"]
```

The first example is a list of four integers. The second is a list of three strings. As we said above, the elements of a list don't have to be the same type.  The following list contains a string, a float, an integer, and another list.

```python 
["hello", 2.0, 5, [10, 20]]
```

A list within another list is said to be **nested** and the inner list is often called a **sublist**. Finally, there is a special list that contains no elements. It is called the empty list and is denoted ``[]``.

As you would expect, we can also assign list values to variables and pass lists as parameters to functions.

In [ ]:
vocabulary = ["iteration", "selection", "control"]
numbers = [17, 123]
empty = []
mixedlist = ["hello", 2.0, 5*2, [10, 20]]

print(numbers)
print(mixedlist)
newlist = [ numbers, vocabulary ]
print(newlist)

[17, 123]
['hello', 2.0, 10, [10, 20]]
[[17, 123], ['iteration', 'selection', 'control']]

## List Length 

As with strings, the function ``len`` returns the length of a list (the number of items in the list).  However, since lists can have items which are themselves lists, it important to note that ``len`` only returns the top-most length.  In other words, sublists are considered to be a single item when counting the length of the list.

In [ ]:
alist =  ["hello", 2.0, 5, [10, 20]]
print(len(alist))
print(len(['spam!', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]))

4
4

### <a name="exer1"></a>Exercise 1 

What is printed by the following statements? 

(1)   
```python
alist = [3, 67, "cat", 3.14, False]
print(len(alist))
```

* A. 4 
* B. 5 

(2)   
```python 
alist = [3, 67, "cat", [56, 57, "dog"], [ ], 3.14, False]
print(len(alist))
```

* A. 7 
* B. 8 

[exercise 1 answers](#ans1)

## Accessing Elements 

The syntax for accessing the elements of a list is the same as the syntax for accessing the characters of a string.  We use the index operator ( ``[]`` -- not to be confused with an empty list). The expression inside the brackets specifies the index. Remember that the indices start at 0.  Any integer expression can be used as an index and as with strings, negative index values will locate items from the right instead of from the left.

In [ ]:
numbers = [17, 123, 87, 34, 66, 8398, 44]
print(numbers[2])
print(numbers[9 - 8])
print(numbers[-2])
print(numbers[len(numbers) - 1])

87
123
8398
44

### <a name="exer2"></a> Exercise 2

What is printed by the following statements? 

```python 
alist = [3, 67, "cat", [56, 57, "dog"], [ ], 3.14, False]
print(alist[5]
```

* A. [] 
* B. 3.14
* C. False 

[exercise 2 answers](#ans2)

### Exercise 3 

What is printed by the following statements? 

```python 
alist = [3, 67, "cat", [56, 57, "dog"], [ ], 3.14, False]
print(alist[2][0])
```

* A. 56 
* B. c
* C. cat 
* D. Error, you can not have two index values unless you are slicing. 

[exercise 3 answers](#ans3)

## List Membership 

``in`` and ``not in`` are boolean operators that test membership in a sequence. We used them previously with strings and they also work here.

In [ ]:
fruit = ["apple", "orange", "banana", "cherry"]

print("apple" in fruit)
print("pear" in fruit)

True
False

## Concatenation and Repetition 

Again, as with strings, the ``+`` operator concatenates lists.   Similarly, the ``*`` operator repeats the items in a list a given number of times.

In [ ]:
fruit = ["apple", "orange", "banana", "cherry"]
print([1, 2] + [3, 4])
print(fruit + [6, 7, 8, 9])

print([0] * 4)
print([1, 2, ["hello", "goodbye"]] * 2)

It is important to see that these operators create new lists from the elements of the operand lists.  If you concatenate a list with 2 items and a list with 4 items, you will get a new list with 6 items (not a list with two sublists).  Similarly, repetition of a list of 2 items 4 times will give a list with 8 items.

In Python, every object has a unique identification tag.  Likewise, there is a built-in function that can be called on any object to return its unique id.  The function is appropriately called ``id`` and takes a single parameter, the object that you are interested in knowing about.  You can see in the example below that a real id is usually a very large integer value (corresponding to an address in memory).

In [ ]:
alist = [4, 5, 6]
id(alist)

140538856801992

### <a name="exer4"></a>Exercise 4 

What is printed by the following statements? 

```python 
alist = [1, 3, 5]
blist = [2, 4, 6] 
print(alist + blist)
```

* A. 6 
* B. [1, 2, 3, 4, 5, 6]
* C. [1, 3, 5, 2, 4, 6]
* D. [3, 7, 11]

[exercise 4 answers](#ans4)

### <a name="exer5"></a>Exercise 5 

What is printed by the following statements? 

```python 
alist = [1, 3, 5]
print(alist * 3)
```

* A. 9 
* B. [3, 9, 15]
* C. [1, 1, 1, 3, 3, 3, 5, 5, 5]
* D. [1, 3, 5, 1, 3, 5, 1, 3, 5]

[exercise 5 answers](#ans5)

## List Slices 

The slice operation we saw with strings also work on lists.  Remember that the first index is the starting point for the slice and the second number is one index past the end of the slice (up to but not including that element).  Recall also that if you omit the first index (before the colon), the slice starts at the beginning of the sequence. If you omit the second index, the slice goes to the end of the sequence.

In [ ]:
a_list = ['a', 'b', 'c', 'd', 'e', 'f']
print(a_list[1:3])
print(a_list[:4])
print(a_list[3:])
print(a_list[:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

## List Slices 

The slice operation we saw with strings also work on lists.  Remember that the first index is the starting point for the slice and the second number is one index past the end of the slice (up to but not including that element).  Recall also that if you omit the first index (before the colon), the slice starts at the beginning of the sequence. If you omit the second index, the slice goes to the end of the sequence.

In [ ]:
a_list = ['a', 'b', 'c', 'd', 'e', 'f']
print(a_list[1:3])
print(a_list[:4])
print(a_list[3:])
print(a_list[:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

## Lists are Mutable 

Unlike strings, lists are **mutable**.  This means we can change an item in a list by accessing it directly as part of the assignment statement. Using the indexing operator (square brackets) on the left side of an assignment, we can update one of the list items.

In [ ]:
fruit = ["banana", "apple", "cherry"]
print(fruit)

fruit[0] = "pear"
fruit[-1] = "orange"
print(fruit)

['banana', 'apple', 'cherry']
['pear', 'apple', 'orange']

An assignment to an element of a list is called **item assignment**. Item assignment does not work for strings.  Recall that strings are immutable.

By combining assignment with the slice operator we can update several elements at once.

In [ ]:
alist = ['a', 'b', 'c', 'd', 'e', 'f']
alist[1:3] = ['x', 'y']
print(alist)

['a', 'x', 'y', 'd', 'e', 'f']

We can also remove elements from a list by assigning the empty list to them.

In [ ]:
alist = ['a', 'b', 'c', 'd', 'e', 'f']
alist[1:3] = []
print(alist)

['a', 'd', 'e', 'f']

We can even insert elements into a list by squeezing them into an empty slice at the desired location.

In [ ]:
alist = ['a', 'd', 'f']
alist[1:1] = ['b', 'c']
print(alist)
alist[4:4] = ['e']
print(alist)

['a', 'b', 'c', 'd', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

### <a name="exer6"></a>Exercise 6 

What is printed by the following statements? 

```python 
alist = [4, 2, 8, 6, 5]
alist[2] = True
print(alist)
```

* A. [4, 2, True, 8, 6, 5]
* B. [4, 2, True, 6, 5]
* C. Error, it is illegal to assign 

[exercise 6 answer](#ans6)

## List Deletion 

Using slices to delete list elements can be awkward and therefore error-prone. Python provides an alternative that is more readable. The ``del`` statement removes an element from a list by using its position.

In [ ]:
a = ['one', 'two', 'three']
del a[1]
print(a)

alist = ['a', 'b', 'c', 'd', 'e', 'f']
del alist[1:5]
print(alist)

['one', 'three']
['a', 'f']

As you might expect, ``del`` handles negative indices and causes a runtime error if the index is out of range. In addition, you can use a slice as an index for ``del``. As usual, slices select all the elements up to, but not including, the second index, but do not cause runtime errors if the index limits go too far.

## Objects and References 

If we execute these assignment statements,

```python 
a = "banana"
b = "banana"
```

we know that ``a`` and ``b`` will refer to a string with the letters ``"banana"``. But we don't know yet whether they point to the *same* string.

There are two possible ways the Python interpreter could arrange its internal states:

<img src="https://pages.mtu.edu/~lebrown/CADeT/Intro2Python/refdiag1.png">

or 

<img src="https://pages.mtu.edu/~lebrown/CADeT/Intro2Python/refdiag2.png">

In one case, ``a`` and ``b`` refer to two different string objects that have the same value. In the second case, they refer to the same object. Remember that an object is something a variable can refer to.

We already know that objects can be identified using their unique identifier.  We can also test whether two names refer to the same object using the *is* operator.  The *is* operator will return true if the two references are to the same object.  In other words, the references are the same.  Try our example from above.

In [ ]:
a = "banana"
b = "banana"

print(a is b)

True

The answer is ``True``.  This tells us that both ``a`` and ``b`` refer to the same object, and that it is the second of the two reference diagrams that describes the relationship. Since strings are *immutable*, Python can optimize resources by making two names that refer to the same string literal value refer to the same object.

This is not the case with lists.  Consider the following example.  Here, ``a`` and ``b`` refer to two different lists, each of which happens to have the same element values.

In [ ]:
a = [81, 82, 83]
b = [81, 82, 83]

print(a is b)

print(a == b)

The reference diagram for this example looks like this:

<img src="https://pages.mtu.edu/~lebrown/CADeT/Intro2Python/refdiag3.png">

``a`` and ``b`` have the same value but do not refer to the same object.

There is one other important thing to notice about this reference diagram.  The variable ``a`` is a reference to a **collection of references**.  Those references actually refer to the integer values in the list.  In other words, a list is a collection of references to objects.  Interestingly, even though ``a`` and ``b`` are two different lists (two different collections of references), the integer object ``81`` is shared by both.  Like strings, integers are also immutable so Python optimizes and lets everyone share the same object for some commonly used small integers.

## Aliasing 

Since variables refer to objects, if we assign one variable to another, both variables refer to the same object:

In [ ]:
a = [81, 82, 83]
b = a
print(a is b)

True

In this case, the reference diagram looks like this:

<img src="https://pages.mtu.edu/~lebrown/CADeT/Intro2Python/refdiag4.png">

Because the same list has two different names, ``a`` and ``b``, we say that it
is **aliased**. Changes made with one alias affect the other. 

Although this behavior can be useful, it is sometimes unexpected or undesirable. In general, it is safer to avoid aliasing when you are working with mutable objects. Of course, for immutable objects, there’s no problem. That’s why Python is free to alias strings and integers when it sees an opportunity to economize.

### <a name="exer7"></a>Exercise 7 

What is printed by the following statements? 

```python 
alist = [4, 2, 8, 6, 5]
blist = alist
blist[3] = 999
print(alist)
```

* A. [4, 2, 8, 6, 5]
* B. [4, 2, 8, 999, 5]

[exercise 7 answers](#ans7)

## Cloning Lists 

If we want to modify a list and also keep a copy of the original, we need to be able to make a copy of the list itself, not just the reference. This process is sometimes called **cloning**, to avoid the ambiguity of the word copy.

The easiest way to clone a list is to use the slice operator.

Taking any slice of ``a`` creates a new list. In this case the slice happens to consist of the whole list.

In [ ]:
a = [81, 82, 83]

b = a[:]       # make a clone using slice
print(a == b)
print(a is b)

b[0] = 5

print(a)
print(b)

Now we are free to make changes to ``b`` without worrying about ``a``.

## Repetition and References 

We have already seen the repetition operator working on strings as well as lists. For example,

In [ ]:
origlist = [45, 76, 34, 55]
print(origlist * 3)

[45, 76, 34, 55, 45, 76, 34, 55, 45, 76, 34, 55]

With a list, the repetition operator creates copies of the references.  Although this may seem simple enough, when we allow a list to refer to another list, a subtle problem can arise.

Consider the following extension on the previous example.

In [ ]:
origlist = [45, 76, 34, 55]
print(origlist * 3)

newlist = [origlist] * 3

print(newlist)

``newlist`` is a list of three references to ``origlist`` that were created by the repetition operator.  The reference diagram is shown below.

<img src="https://pages.mtu.edu/~lebrown/CADeT/Intro2Python/refrep1.png">

Now, what happens if we modify a value in ``origlist``.

In [ ]:
origlist = [45, 76, 34, 55]

newlist = [origlist] * 3

print(newlist)

origlist[1] = 99

print(newlist)

[[45, 76, 34, 55], [45, 76, 34, 55], [45, 76, 34, 55]]
[[45, 99, 34, 55], [45, 99, 34, 55], [45, 99, 34, 55]]

``newlist`` shows the change in three places.  This can easily be seen by noting that in the reference diagram, there is only one ``origlist``, so any changes to it appear in all three references from ``newlist``.

<img src="https://pages.mtu.edu/~lebrown/CADeT/Intro2Python/refrep2.png">

### <a name="exer8"></a> Exercise 8 

What is printed by the following statements?

```python 
alist = [4, 2, 8, 6, 5]
blist = alist * 2
blist[3] = 999
print(alist)
```

* A. [4, 2, 8, 999, 5, 4, 2, 8, 6, 5] 
* B. [4, 2, 8, 999, 5] 
* C. [4, 2, 8, 6, 5]

[exercise 8 answer](#ans8)

### <a name="exer9"></a> Exercise 9 

What is printed by the following statements? 

```python
alist = [4, 2, 8, 6, 5]
blist = [alist] * 2
alist[3] = 999
print(blist)
``` 

* A.  [4, 2, 8, 999, 5, 4, 2, 8, 999, 5]
* B.  [[4, 2, 8, 999, 5], [4, 2, 8, 999, 5]]
* C.  [4, 2, 8, 6, 5]
* D.  [[4, 2, 8, 999, 5], [4, 2, 8, 6, 5]]

[exercise 9 answer](#ans9)

## List Methods 

The dot operator can also be used to access built-in methods of list objects.  ``append`` is a list method which adds the argument passed to it to the end of the list. Continuing with this example, we show several other list methods.  Many of them are easy to understand.

In [ ]:
mylist = []
mylist.append(5)
mylist.append(27)
mylist.append(3)
mylist.append(12)
print(mylist)

mylist.insert(1, 12)
print(mylist)
print(mylist.count(12))

print(mylist.index(3))
print(mylist.count(5))

mylist.reverse()
print(mylist)

mylist.sort()
print(mylist)

mylist.remove(5)
print(mylist)

lastitem = mylist.pop()
print(lastitem)
print(mylist)

[5, 27, 3, 12]
[5, 12, 27, 3, 12]
2
3
1
[12, 3, 27, 12, 5]
[3, 5, 12, 12, 27]
[3, 12, 12, 27]
27
[3, 12, 12]

There are two ways to use the ``pop`` method.  The first, with no parameter, will remove and return the last item of the list.  If you provide a parameter for the position, ``pop`` will remove and return the item at that position.  Either way the list is changed.

The following table provides a summary of the list methods shown above.  The column labeled `result` gives an explanation as to what the return value is as it relates to the new value of the list.  The word **mutator** means that the list is changed by the method but nothing is returned (actually ``None`` is returned).  A **hybrid** method is one that not only changes the list but also returns a value as its result.  Finally, if the result is simply a return, then the list is unchanged by the method.

Be sure to experiment with these methods to gain a better understanding of what they do.


| Method    |  Parameters     |  Result     |  Description  |
|-----------|-----------------|-------------|---------------|
| append    | item            | mutator     |  Adds a new item to the end of a list |
| insert    | position, item  | mutator     |  Inserts a new item at the position given |
| pop       | none            | hybrid      | Removes and returns the last item |
| pop       | position        | hybrid      | Removes and returns the item at position |
| sort      | none            | mutator     | Modifies a list to be sorted |
| reverse   | none            | mutator     | Modifies a list to be in reverse order |
| index     | item            | return idx  | Returns the position of first occurrence of item |
| count     | item            | return ct   | Returns the number of occurrences of item |
| remove    | item            | mutator     | Removes the first occurrence of item |




Details for these and others can be found in the [Python Documentation](http://docs.python.org/py3k/library/stdtypes.html#sequence-types-str-bytes-bytearray-list-tuple-range).

It is important to remember that methods like ``append``, ``sort``,  and ``reverse`` all return ``None``.  This means that re-assigning ``mylist`` to the result of sorting ``mylist`` will result in losing the entire list.  Calls like these will likely never appear as part of an assignment statement (see line 8 below).

In [ ]:
mylist = []
mylist.append(5)
mylist.append(27)
mylist.append(3)
mylist.append(12)
print(mylist)

mylist = mylist.sort()   #probably an error
print(mylist)

### Examples 

Play around with using several list methods.

In [ ]:
alist = [4, 2, 8, 6, 5]
alist.append(True)
alist.append(False)
print(alist)

In [ ]:
alist = [4, 2, 8, 6, 5]
alist.insert(2, True)
alist.insert(0, False)
print(alist)

In [ ]:
alist = [4, 2, 8, 6, 5]
temp = alist.pop(2)
temp = alist.pop()
print(alist)

In [ ]:
alist = [4, 2, 8, 6, 5]
alist = alist.pop(0)
print(alist)

## Lists and `for` loops 

It is also possible to perform **list traversal** using iteration by item as well as iteration by index.

In [ ]:
fruits = ["apple", "orange", "banana", "cherry"]

for afruit in fruits:     # by item
    print(afruit)

apple
orange
banana
cherry

It almost reads like natural language: For (every) fruit in (the list of) fruits, print (the name of the) fruit.

We can also use the indices to access the items in an iterative fashion.

In [ ]:
fruits = ["apple", "orange", "banana", "cherry"]

for position in range(len(fruits)):     # by index
    print(fruits[position])

apple
orange
banana
cherry

In this example, each time through the loop, the variable ``position`` is used as an index into the list, printing the ``position``-eth element. Note that we used ``len`` as the upper bound on the range so that we can iterate correctly no matter how many items are in the list.

Any sequence expression can be used in a ``for`` loop.  For example, the ``range`` function returns a sequence of integers.

In [ ]:
for number in range(20):
    if number % 3 == 0:
        print(number)

This example prints all the multiples of 3 between 0 and 19.

Since lists are mutable, it is often desirable to traverse a list, modifying each of its elements as you go. The following code squares all the numbers from ``1`` to ``5`` using iteration by position.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

for i in range(len(numbers)):
    numbers[i] = numbers[i] ** 2

print(numbers)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

Take a moment to think about ``range(len(numbers))`` until you understand how it works. We are interested here in both the *value* and its *index* within the list, so that we can assign a new value to it.

## Using Lists as Parameters 

Functions which take lists as arguments and change them during execution are called **modifiers** and the changes they make are called **side effects**.Passing a list as an argument actually passes a reference to the list, not a copy of the list. Since lists are mutable, changes made to the  elements referenced by the parameter change the same list that the argument is referencing.  For example, the function below takes a list as an argument and multiplies each element in the list by 2:

In [ ]:
def doubleStuff(aList):
    """ Overwrite each element in aList with double its value. """
    for position in range(len(aList)):
        aList[position] = 2 * aList[position]

things = [2, 5, 9]
print(things)
doubleStuff(things)
print(things)

[2, 5, 9]
[4, 10, 18]

The parameter ``aList`` and the variable ``things`` are aliases for the
same object.

<img src="https://pages.mtu.edu/~lebrown/CADeT/Intro2Python/references4.png">

Since the list object is shared by two references, there is only one copy. If a function modifies the elements of a list parameter, the caller sees the change since the change is occurring to the original.

A **pure function** does not produce side effects. It communicates with the calling program only through parameters (which it does not modify) and a return value. Here is the ``doubleStuff`` function from the previous section written as a pure function. To use the pure function version of ``double_stuff`` to modify ``things``, you would assign the return value back to ``things``.

In [ ]:
def doubleStuff(a_list):
    """ Return a new list in which contains doubles of the elements in a_list. """
    new_list = []
    for value in a_list:
        new_elem = 2 * value
        new_list.append(new_elem)
    return new_list

things = [2, 5, 9]
print(things)
things = doubleStuff(things)
print(things)

[2, 5, 9]
[4, 10, 18]

Anything that can be done with modifiers can also be done with pure functions. In fact, some programming languages only allow pure functions. There is some evidence that programs that use pure functions are faster to develop and less error-prone than programs that use modifiers. Nevertheless, modifiers are convenient at times, and in some cases, functional programs are less efficient.

In general, we recommend that you write pure functions whenever it is reasonable to do so and resort to modifiers only if there is a compelling advantage. This approach might be called a *functional programming style*.

The pure version of ``doubleStuff`` above made use of an  important **pattern** for your toolbox. Whenever you need to write a function that creates and returns a list, the pattern is usually::

```
initialize a result variable to be an empty list
loop
    create a new element 
    append it to result
return the result
```

Let us show another use of this pattern.  Assume you already have a function ``is_prime(x)`` that can test if x is prime.  Now, write a function to return a list of all prime numbers less than n::

```python
def primes_upto(n):
    """ Return a list of all prime numbers less than n. """
    result = []
    for i in range(2, n):
        if is_prime(i):
            result.append(i)
    return result
```

## List Comprehensions 

The previous example creates a list from a sequence of values based on some selection criteria.  An easy way to do this type of processing in Python is to use a **list comprehension**.  List comprehensions are concise ways to create lists.  The general syntax is::

```
   [<expression> for <item> in <sequence> if  <condition>]
```

where the if clause is optional.  For example,

In [ ]:
mylist = [1,2,3,4,5]

yourlist = [item ** 2 for item in mylist]

print(yourlist)

[1, 4, 9, 16, 25]

The expression describes each element of the list that is being built.  The ``for`` clause iterates through each item in a sequence.  The items are filtered by the ``if`` clause if there is one.  In the example above, the ``for`` statement lets ``item`` take on all the values in the list ``mylist``.  Each item is then squared before it is added to the list that is being built.  The result is a list of squares of the values in ``mylist``.

To write the ``primes_upto`` function we will use the ``is_prime`` function to filter the sequence of integers coming from the ``range`` function.  In other words, for every integer from 2 up to but not including ``n``, if the integer is prime, keep it in the list.

In [ ]:
def primes_upto(n):
    """ Return a list of all prime numbers less than n using a list comprehension. """

    result = [num for num in range(2,n) if is_prime(num)]
    return result

### <a name="exer10"></a> Exercise 10 

What is printed by the following statements?

```python
alist = [4,2,8,6,5]
blist = [num*2 for num in alist if num%2==1]
print(blist)
```

* A. [4, 2, 8, 6, 5]
* B. [8, 4, 16, 12, 10]
* C. 10 
* D. [10]

[exercise 10 answer](#ans10)

## Nested Lists 

A nested list is a list that appears as an element in another list. In this list, the element with index 3 is a nested list.   If we print(``nested[3]``), we get ``[10, 20]``. To extract an element from the nested list, we can proceed in two steps.  First, extract the nested list, then extract the item of interest.  It is also possible to combine those steps using bracket operators that evaluate from left to right.

In [ ]:
nested = ["hello", 2.0, 5, [10, 20]]
innerlist = nested[3]
print(innerlist)
item = innerlist[1]
print(item)

print(nested[3][1])

[10, 20]
20
20

## Strings and Lists 

Two of the most useful methods on strings involve lists of strings. The ``split`` method breaks a string into a list of words.  By default, any number of whitespace characters is considered a word boundary.

In [ ]:
song = "The rain in Spain..."
wds = song.split()
print(wds)

['The', 'rain', 'in', 'Spain...']

An optional argument called a **delimiter** can be used to specify which characters to use as word boundaries. The following example uses the string ``ai`` as the delimiter:

In [ ]:
song = "The rain in Spain..."
wds = song.split('ai')
print(wds)

['The r', 'n in Sp', 'n...']

Notice that the delimiter doesn't appear in the result.

The inverse of the ``split`` method is ``join``.  You choose a desired **separator** string, (often called the *glue*)  and join the list with the glue between each of the elements.

In [ ]:
wds = ["red", "blue", "green"]
glue = ';'
s = glue.join(wds)
print(s)
print(wds)

print("***".join(wds))
print("".join(wds))

red;blue;green
['red', 'blue', 'green']
red***blue***green
redbluegreen

The list that you glue together (``wds`` in this example) is not modified.  Also,  you can use empty glue or multi-character strings as glue.

**List Type Conversion** 

Python has a built-in type conversion function called  ``list`` that tries to turn whatever you give it into a list.  For example, try the following:

In [ ]:
xs = list("Crunchy Frog")
print(xs)

['C', 'r', 'u', 'n', 'c', 'h', 'y', ' ', 'F', 'r', 'o', 'g']

The string "Crunchy Frog" is turned into a list by taking each character in the string and placing it in a list.  In general, any sequence can be turned into a list using this function.  The result will be a list containing the elements in the original sequence.  It is not legal to use the ``list`` conversion function on any argument that is not a sequence.

It is also important to point out that the ``list`` conversion function will place each element of the original sequence in the new list.  When working with strings, this is very different than the result of the ``split`` method.  Whereas ``split`` will break a string into a list of "words", ``list`` will always break it into a list of characters.

## Tuples and Mutability 

So far you have seen two types of sequential collections: strings, which are made up of characters; and lists, which are made up of elements of any type.  One of the differences we noted is that the elements of a list can be modified, but the characters in a string cannot. In other words, strings are **immutable** and lists are **mutable**.

A **tuple**, like a list, is a sequence of items of any type. Unlike lists, however, tuples are immutable. Syntactically, a tuple is a comma-separated sequence of values.  Although it is not necessary, it is conventional to  enclose tuples in parentheses:

```python
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
```

Tuples are useful for representing what other languages often call *records* --- some related information that belongs together, like your student record.  There is no description of what each of these *fields* means, but we can guess.  A tuple lets us "chunk" together related information and use it as a single thing.

Tuples support the same sequence operations as strings and lists.  For example, the index operator selects an element from a tuple.   A tuple can be the sequence in a for-loop.

As with strings, if we try to use item assignment to modify one of the elements of the tuple, we get an error.

```python 
julia[0] = 'X'
TypeError: 'tuple' object does not support item assignment
```

Of course, even if we can't modify the elements of a tuple, we can make a variable reference a new tuple holding different information.  To construct the new tuple, it is convenient that we can slice parts of the old tuple and join up the bits to make the new tuple.  So ``julia`` has a new recent film, and we might want to change her tuple.  We can easily slice off the parts we want and concatenate them with the new tuple.

In [ ]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
print(julia[2])
print(julia[2:6])

print(len(julia))

for field in julia:
    print(field)

julia = julia[:3] + ("Eat Pray Love", 2010) + julia[5:]
print(julia)

1967
(1967, 'Duplicity', 2009, 'Actress')
7
Julia
Roberts
1967
Duplicity
2009
Actress
Atlanta, Georgia
('Julia', 'Roberts', 1967, 'Eat Pray Love', 2010, 'Actress', 'Atlanta, Georgia')

To create a tuple with a single element (but you're probably not likely to do that too often), we have to include the final comma, because without the final comma, Python treats the ``(5)`` below as an integer in parentheses:

In [ ]:
tup = (5,)
print(type(tup))

x = (5)

<class 'tuple'>

## Tuple Assignment 

Python has a very powerful **tuple assignment** feature that allows a tuple of variables  on the left of an assignment to be assigned values from a tuple on the right of the assignment.

```python 
(name, surname, birth_year, movie, movie_year, profession, birth_place) = julia
```

This does the equivalent of seven assignment statements, all on one easy line.  One requirement is that the number of variables on the left must match the number of elements in the tuple. 

Once in a while, it is useful to swap the values of two variables.  With conventional assignment statements, we have to use a temporary variable. For example, to swap ``a`` and ``b``:

```python
temp = a
a = b
b = temp
```

Tuple assignment solves this problem neatly:

```python
(a, b) = (b, a)
```

The left side is a tuple of variables; the right side is a tuple of values. Each value is assigned to its respective variable. All the expressions on the right side are evaluated before any of the assignments. This feature makes tuple assignment quite versatile.

Naturally, the number of variables on the left and the number of values on the right have to be the same.

```
>>> (a, b, c, d) = (1, 2, 3)
ValueError: need more than 3 values to unpack
```

## Tuples as Return Values 

Functions can return tuples as return values. This is very useful --- we often want to know some batsman's highest and lowest score, or we want to find the mean and the standard  deviation, or we want to know the year, the month, and the day, or if we're doing some ecological modeling we may want to know the number of rabbits and the number of wolves on an island at a given time.  In each case, a function (which  can only return a single value), can create a single tuple holding multiple elements. 

For example, we could write a function that returns both the area and the circumference of a circle of radius r.

In [ ]:
def circleInfo(r):
    """ Return (circumference, area) of a circle of radius r """
    c = 2 * 3.14159 * r
    a = 3.14159 * r * r
    return (c, a)

print(circleInfo(10))

(62.8318, 314.159)

### <a name="exer11"></a>Exercise 11 

Write a Python function that will take a the list of 100 random integers between 0 and 1000 and return the maximum value. (Note: there is a builtin function named `max` but pretend you cannot use it.)

In [ ]:
import random 

def max(lst): 
    """given a list, max returns the maximum element in the list """

    return None

lst = [] 
# build a list with 100 random integers, hint:  random.randint( )


print(max(lst))

[exercise 11 answer](#ans11)

### <a name="exer12"></a> Exercise 12 

Write a function to count how many odd numbers are in a list.  Run it on your list of 100 random integers from Exercise 11.

In [ ]:
def count_odd(lst):
    """given a list, returns the number of odd numbers are in the list"""

    return None

print(count_odd(lst))

[exercise 12 answer](#ans12)

### <a name="exer13"></a> Exercise 13 

Sum all the elements in a list up to but not including the first even number.

In [ ]:
def my_sum(lst):
    
    return sum

print(my_sum(lst))

[exercise 13 answer](#ans13)

---

## Answers to Exercises

### <a name="ans1"></a>Exercise 1 

(1) B. 5  
(2) A. 7 

[Back to Exercises](#exer1)

### <a name="ans2"></a>Exercise 2 

B. 3.14,  3.14 is at index 5 since we start counting at 0 and sublists count as one item. 

[Back to Exercises](#exer2)

### <a name="ans3"></a>Exercise 3

B. c,   the first character of the string at index 2 is c. 

[Back to Exercises](#exer3)

### <a name="ans4"></a> Exercise 4

C. [1, 3, 5, 2, 4, 6]   
a new list with all the items of the first list followed by all those from the second.

[Back to Exercises](#exer4)

### <a name="ans5"></a> Exercise 5

D.  the items of the list are repeated 3 times, one after another.

[Back to Exercises](#exer5)

### <a name="ans6"></a> Exercise 6 

B. the value True is placed in the list at index 2. It replaces 8.

[Back to Exercises](#exer6)

### <a name="ans7"></a> Exercise 7 

B.  since alist and blist both reference the same list, changes to one also change the other.

[Back to Exercises](#exer7)

### <a name="ans8"></a> Exercise 8 

C.  alist was unchanged by the assignment statement. blist was a copy of the references in alist.

[Back to Exercises](#exer8)

### <a name="ans9"></a> Exercise 9 

B. [[4, 2, 8, 999, 5], [4, 2, 8, 999, 5]] 
`blist` contains two references both to `alist`

[Back to Exercises](#exer9)

### <a name="ans10"></a> Exercise 10 

D.  5 is the only odd number in `alist`. It is doubled before being placed in `blist`.

[Back to Exercises](#exer10)

### <a name="ans11"></a> Exercise 11

In [ ]:
import random

def max(lst):
    max = 0
    for e in lst:
        if e > max:
            max = e
    return max

lst = []
for i in range(100):
    lst.append(random.randint(0, 1000))

print(max(lst))

992

or

In [ ]:
lst = [random.randint(0,1000) for _ in range(10)]
print(max(lst))

932

[Back to Exercises](#exer11)

### <a name="ans12"></a> Exercise 12

In [ ]:
def count_odd(lst):
    odd = 0
    for e in lst:
        if e % 2 != 0:
            odd = odd + 1
    return odd

print(count_odd(lst))

5

[Back to Exercises](#exer12)

### <a name="ans13"></a> Exercise 13

In [ ]:
def my_sum(lst):
    sum = 0
    index = 0
    while index < len(lst) and lst[index] % 2 != 0:
        sum = sum + lst[index]
        index = index + 1
    return sum

print(my_sum(lst))

49